
@font-face {
  font-family: 'KayakSans';
  src: url('../fonts/KayakSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/KayakSans.woff') format('woff'), url('../fonts/KayakSans.ttf')  format('truetype'), url('../fonts/KayakSans.svg#KayakSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KayakSans';
  src: url('../fonts/KayakSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/KayakSans-Bold.woff') format('woff'), url('../fonts/KayakSans-Bold.ttf')  format('truetype'), url('../fonts/KayakSans-Bold.svg#KayakSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

